
.custom-card{
  padding: 10px;
  border-bottom: #d8d5d5 1px solid;
  border-top: #d8d5d5 1px solid;
  &:hover{
    background-color: #d8d5d5;
    cursor: pointer;
    color: black;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    h4{
      margin: 0;
      padding: 0;
    }
    span{
      background-color: #672727;
      color: #d8d5d5;
      font-weight: bolder;
      padding: 1px 10px;
      font-size: 14px;
      border-radius: 25px;

    }
  }
  h5{
    margin: 0;
    padding: 0;
  }


}
