
.subcategory-body{
  background-color: #2b2929;
  min-height: 300px;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  .header{
    display: flex;
    justify-content: space-between;
    h4{
      margin: 15px 0;
      padding: 0;
    }
  }
  .item{
    padding: 5px 8px;
    background: #3e3c3c;
    border-radius: 10px;
    margin: 5px 0;
    h5{
      margin: 0;
      padding: 0;
    }
    div{

      div{
        display: flex;
        justify-content: space-between;
        span{
          font-size: 12px;
        }
      }
    }
  }
}
